:root {
    /* для CTAs, Focused, Active states, Links, nav-click */
    --primary-brand-color: #4D5AE5;
    /* для Overlays, Shadows, Headings, nav-default*/
    --dark-color: #2E2F42;
    /* для Valid fields, Success messages */
    --success-color: #31D0AA;
    /* для Body text, nav-hover */
    --text-color: #434455;
    /* для Helper text, Deemphasized text */
    --subtle-text-color: #8E8F99;
    /* для Accent color, Hairlines, Subtle backgrounds*/
    --accent-color: #E7E9FC;
    /* для Light mode backgrounds, Light mode Dialogs/alerts*/
    --light-color: #F4F4FD;

    /*NAV-LINKS*/
    /* для nav-default*/
    --nav-defauit: #2E2F42;
    /* для nav-hover*/
    --nav-hover: #434455;
    /* для nav-click*/
    --nav-click: #4D5AE5;

    /*BUTTONS*/
    /* для button--order-default*/
    --button-order-defauit: #4D5AE5;
    /* для button--order-hover*/
    --button-order-hover: #4D5AE5;
    /* для button--order-click*/
    --button-order-click: #404BBF;

    /*background-color-body*/
    --background-color: #ffffff
}

body { 
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;    
    max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6, 
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1128px;
    padding: 0 15px; 
    margin: 0 auto;
}

.section {
    padding-top: 120px;
}

img {
    display: block, max-width: 100%, height: auto
}
                                 /*header*/

.header {
    display: flex;
    /*max-width: 1128px;*/
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}   


/*LOGO*/                            
.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    text-decoration: none;
    /*margin-right: 76px;*/
}

.studio {
    color: var(--dark-color);
}

/*NAV*/

.nav-container {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    gap: 40px;
    flex-basis: calc((100%-40px)/3);
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 76px;

}

.nav .header-link.current {
    color: var(--nav-click);
}

.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;        
    letter-spacing: 0.02em;
    color: var(--nav-defauit);
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.header-link:hover {
    color: var(--nav-click);
}

.header-link:hover,
.header-link:focus {
    color: var(--nav-click);
}

.header-link:active {
    color: var(--nav-click);
}

/*ADDRESS*/

.header-address {
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding-inline-start: 0;
    margin: 24px 0 24px 0px;
}


.header-add {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;        
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}

.header-add:hover,
.header-add:focus {
    color: var(--primary-brand-color);

}

                                  /*main*/
/*section order-service*/
.section-order-service {
    background-color: var(--dark-color);
}

.section-order-service.section {
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    max-width: 1440px auto;
}

.order-titel {   
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color);
    padding: 188px auto 292px;
}

.button-order {
    background-color: var(--button-order-defauit);
    cursor: pointer;
    border: 0px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--background-color);
    padding: 16px, 32px, 16px, 32px;
    gap: 10px;
    Width: 169px;
    Height: 56px;
    margin: 48px auto
}
 
.button-order:hover {
    background-color: var(--button-order-click);
}

/*.button-order:active {
    background-color: var(--button-order-click);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}*/


/*sections*/
.section-titel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize
}

.features-li {
    display: flex;
    gap: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}   

.f-li-titel {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2
}

.what-are-we-doing-links,
.our-team-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
                                    /*!!!!!!!! ВОПРОС !!!!!!!!! */

    /*почему браузер задаёт по умолчанию вот эти отступы ниже 
    и их постоянно приходится сбрасывать? Возможно ли применить какую-то настройку выше?*/
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}


.f-li:first-child,
.what-li:first-child,
.our-team-li:first-child {
    margin-left: auto;
}

.f-li:last-child,
.what-li:last-child,
.our-team-li:last-child {
    margin-right: auto;
}

/*.f-li .text {
    width: 264;
    margin: 0;
}*/


.what-li,
.our-team-li,
.portfolio-links {
    margin: 72px 0 120px 0;
}


.features-li,
.what-are-we-doing-links, 
.css-portfolio {
    list-style-type: none;
    text-decoration-line: none;
    background-color: var(--background-color);
}

.our-team-links {
    list-style-type: none;
    display: flex
}

.our-team-li {
    background-color: var(--background-color);
    width: 264px;
}

.our-team-link {
    text-decoration: none;
}

.our-team-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    text-decoration: none;
    list-style-type: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
    margin-top: 32px;
    
}
 
.our-team-li .text {
    margin-top: 8px;
    margin-bottom: 32px;
}
 
.our-team {
    background-color: var(--light-color);
}

.our-team .text {
    text-align: center;
}

/*для всех тегов <p>, кроме белого в футере*/
.features .text,
.our-team .text, 
.portfolio-link .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

                                /*css-особенности для страницы portfolio.html*/

                                /*.filter-buttons*/
.filter-button {
    padding: 12px 24px;
    background: var(--light-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    order: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--button-order-defauit);
}
    
.filter-button:current {
    background-color: var(--button-order-hover);
    color: var(--background-color);
}
                        
.filter-button:hover {
    background-color: var(--button-order-hover);
    color: var(--background-color);
}
                        
.filter-button:focus {
    background-color: var(--button-order-hover);
    color: var(--background-color);
}

.filter-button.current {
    background-color: var(--button-order-hover);
    color: var(--background-color);
}


/*.portfolio-photo {
    display: inline-flex;
}*/

.portfolio-filter {
    text-decoration-line: none;
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 96px;
    margin-block-end: 0;
}

.portfolio-links {
    padding-inline-start: 0;
}

.css-portfolio {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px; 
    padding-inline-start: 0;
}

.portfolio-link .text {
    margin: 8px auto 32px 16px;
    padding-bottom: 32px;
}

.our-team-li,
.portfolio-link {
    text-decoration: none;
    display: block;
}

.portfolio-link:hover,
.portfolio-link:focus,
.portfolio-filter:active {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*только для заголовков h2 со страницы portfolio.html*/
.portfolio-card-titel {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin: 32px auto 8px 16px;
    }   

.portfolio-photo {
    padding-top: 0px;
}

                                    /*footer*/
.footer {
    left: 0px;
    top: 2283px;
    background-color: var(--dark-color);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: ;
    margin-left: auto;
    margin-right: auto;
}

.footer .logo-link {
    margin-top: 100px;
    margin-left: 156px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer .studio {
    color: var(--light-color);
    line-height: 1.17;

}
                         
.footer .text {
    display: block;
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-top: 16px;
    margin-left: 156px
}